.head-shop{
    height: 550px;
    background-image: url(images/shop-1.jpg);
    background-size: cover;
}
body, .card-body{
    background-color: #FDFBF8;
}
select{
    background-color: rgb(239, 239, 239) !important;
    color: gray !important;
}
select:hover{
    cursor: pointer;
}
option{
    background-color: #fff;
}
.form-group{
    display: flex;
}
.input-search{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.form-group{
    background-color: #fff !important;
    border: 1px solid rgb(202, 199, 199);
}
.form-control{
    border: none;
} 
.form-control:focus{
    box-shadow: none;
}
.cat:hover{
    color: #1c313d;
    text-decoration: none;
    cursor: pointer;
}
.double-range-slider {
    position: relative;
    width: 300px;
    transition: all 0s ease-in !important;
  }
  .slider1 {
    position: absolute;
    width: 100%;
    height: 18px;
    pointer-events: none;
    appearance: none;
    background: transparent;
  }
  .slider1::-webkit-slider-thumb {
    pointer-events:all;
    width: 16px;
    height: 16px;
    background-color: #ffae00;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .rt:active{
    animation: rotate 0.3s linear;
  }
  @keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
  }
  .slider-track {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    height: 4px;
    margin-top: 8px;
  }
  .slider-range {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: #ffae00;
    pointer-events: none;
  }
.card{
    cursor:pointer;
    position: initial;
}
.card-img{
    position:relative;
    overflow: hidden;
    height: 300px;
    z-index: 1;
}
.card-image{
    position: absolute;
    height: 100%;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.card-img-label{
    position: absolute;
    right: 10%;
    background-color: rgb(255, 187, 0);
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
}
.card-text a,.cat{
    text-decoration: none;
    color: #254151;
}
.card-text:hover{
    color:rgb(255, 187, 0) ;
    
}
.card-label:hover{
    color: #254151 !important;
}
.product-img{
    height: 80px;
    width: 80px;
}
.fw-500{
    font-weight: 500 !important;
}